body{
margin:0;
}
h1{
	font-size: 100px; 
}
.sectionhero{
	background-color: #948c7c;
}
.korobka{
	color:#4a5607a9;
	background-color: #0d0096; 
	text-align: center;
	height: 100vh;
	width: 50%;
	margin: 0 15px 0 15px;
    box-shadow: 5px 40px 50px 20px #dbfc05;
}


img{
	width: 400px;
	height: 400px;
    box-shadow: #4a5607a9;
}
.center{
	align-items: center;

}
.dflex{
	display: flex;
}
.btn{
    background-color: rgb(40, 117, 25);
    color: rgb(254, 255, 192);
    font-size: 50px;
    text-decoration: none;
    padding: 10px 30px;
}
nav{
    height: 90px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    background-color:#126518;
}
.link{
    font-size: 20px;
    margin: 0 0 0 50px;
    color:#625fb8;
    cursor: pointer;
    text-decoration: none;
}
.logo{
    cursor: pointer;
    font-size: 30px;
    color:#f7f2e5 ;
    font-weight: 600;
    border: 1px solid #75b6d4;
    padding: 10px 60px;
}
.right{
    position: absolute;
    right: 80px;
}
.btn_krasiviy{
    background-color:#b8915f;
    color:#0d3748 ;
    padding: 7px 30px;
    font-size: 25px;
    border-radius: 30px;
    cursor: pointer;
}
.btn_krasiviy:hover{
    background-color: rgb(255, 134, 154);
    color: black;
    box-shadow: 0 0 40px 60px rgb(129, 129, 129);
    
}